@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   font-size: 16px;
}

body {
   font-family: "Open Sans", sans-serif;
}

.container {
   padding: 0 10rem;
}

h2 {
   text-align: center;
   font-size: 2remW;
}