@import "../../styles/_mixins";
@import "../../styles/_variables";

.search {
   %input {
      background-color: white;
      border: $borderDark;
      font-size: 1.5rem;
      padding: .5rem;
   }

   input[type="text"] {
      @extend %input;
      border-right: none;
      border-radius: .5rem 0 0 .5rem;
      padding-right: 0;

      &:focus-visible {
         outline: none;
      }
   }

   button{
      @extend %input;
      border-left: none;
      border-right: none; 
      cursor: pointer;

      img{
         height: 1rem;
      }
   }

   input[type="button"] {
      @include button();
      @extend %input;
      border-left: none;
      border-radius: 0 .5rem .5rem 0;
   }
}

