@import "../../styles/_mixins";
@import "../../styles/_variables";

.header {
   @include flex($justify: space-between);

   background-color: $lightCyan;
   border-bottom: $borderDark;
   height: 5rem;

   .links {
      @include flex();
   }

   .link {
      color: $darkCyan;
      font-size: 1.5rem;
      text-decoration: none;
      margin-left: 4rem;
      transition: all .2s linear;
      font-weight: 700;

      &:hover {
         transform: scale(1.1);
         color: $darkCyanHover;
      }
   }

   .home {
      @extend .link;
      font-size: 2rem;
      margin-left: 0;
   }
}